body{
	background-color: black;
	margin: 0;
	font-family:'Oswald', sans-serif;
}

.menu{
	display: flex;
	justify-content: space-between;
	margin-top: 44px;
}
.book_seat{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: 22px;
	height: 60px;
	width: 170px;
	border-radius: 40px;
	align-items: center;
	display: flex;
	justify-content: center;
	background-color: #FFCE1C;
	margin-right: 60px;
	transition: 0.5s
}
.book_seat a{
  align-items: center;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.book_seat a:before {
  content: '';
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
}
.book_seat:hover{
	background-color: #ff6f1c;
}
.book_seat:hover a{
	color: #fff;
}
.menu_buton{
	border: 1px solid gray;
	border-radius: 23px;
	display: flex;
	width: 5%;
	margin: 3% 33%;
}
.shop{
	border-right: 1px solid gray;
}
.menu_buton i{
	color: white;
	margin: 15px;
}

<<<<<<< HEAD
.size_100{
	width: 100%;
	height: 100vh;
	background-color: inherit;
	position: relative;

}
.FixBtn{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: yellow;
	top: 85%;
	left: 94%;
	position: fixed;
	cursor: pointer;

}
.arrow{
	margin-left: 15px;
	position: absolute;
	top: 20%;
	font-size: 23px;
}
=======
.tagline{
	width:420px;
	float: left;
	margin-right: 50px;
	margin-top:30px;
}
.tagline h2{
	font-size:70px;
	font-weight: 700;
	color: #fff;
	text-align: right;
	margin:0;
	line-height:80px;
	font-style:normal;
	moz-user-select: none;
	-khtml-user-select: none;
	 user-select: none;
	 letter-spacing: 1px;
}
.tagline h2 b{
	color:#ffce1c;
	font-weight: 400;
	font-size:65px;
}
.tagline_body{
	overflow: hidden;
	margin-left:250px;
	max-width: 1200px;
}
.tagline p{
	color:#fff;
	font-size:18px;
	text-align: right;
	margin:30px 0;
	moz-user-select: none;
	-khtml-user-select: none;
	 user-select: none;
}
.tagline_button{
	text-decoration: none;
	color:#000;
	background: #ffce1c;
	width:180px;
	height:60px;
	border-radius:50px;
	text-align: center;
	padding-top:20px;
	box-sizing: border-box;
	float:right;
	cursor:pointer;
	transition: 0.3s ease;
	font-weight: 500;
}

.tagline_button:hover{
	background: #ff6f1c;
	color:#fff;
}

>>>>>>> bf62541d9ce5470ef6f391b13d4bfc958dc459d4
