body{
	margin: 0;
	background: grey;
}

.tagline{
	width:420px;
	margin:0 auto;
}
.tagline h2{
	font-size:80px;
	font-weight: 700;
	font-family:'Oswald', sans-serif;
	color: #fff;
	float: left;
}
.tagline h2 b{
	color:#ffce1c;
	font-weight: 400;
}
.tagline_body{
	overflow: hidden;
}

